<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="vue.js"></script>

    <div id="app">
      <ul>
        <li v-for="(fruit, index) in fruits">[{{ index }}]{{ fruit }}</li>
      </ul>
      <ul>
        <li v-for="value in object">{{ value }}</li>
      </ul>
      <ul>
        <li v-for="(value, key, index) in object">
          [{{ index }}]{{key}}-{{ value }}
        </li>
      </ul>
      <ul>
        <template v-for="(fruit) in fruits">
          <li>{{ fruit }}</li>
          <hr />
        </template>
      </ul>
      <ul>
        <li v-for="n in 10">{{ n }}</li>
      </ul>
      <ul>
        <li v-for="n of 10">{{ n }}</li>
      </ul>
      <ul>
        <div v-for="(fruit) in fruits" :key="fruit">
          <li>{{ fruit }}</li>
          <input type="text" />
        </div>
      </ul>
      <button @click="remove">先頭を削除</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          fruits: ["りんご", "バナナ", "ぶどう"],
          object: {
            firstName: "太郎",
            lastName: "田中",
            age: 21,
          },
        },
        methods: {
          remove: function () {
            this.fruits.shift();
          },
        },
      });
    </script>
  </body>
</html>
